---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus
  namespace: monitoring
spec:
  interval: 1h
  chart:
    spec:
      sourceRef:
        kind: HelmRepository
        name: prometheus-repo
        namespace: default
      chart: kube-prometheus-stack
      version: 80.8.0

  # https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack
  values:
    fullnameOverride: prom
    cleanPrometheusOperatorObjectNames: true

    defaultRules:
      create: true
      rules:
        etcd: false
        windows: false

    alertmanager:
      enabled: true
      serviceAccount:
        create: true
        name: "alertmanager"
      config:
        global:
          resolve_timeout: 5m
        inhibit_rules:
          - source_matchers:
              - 'severity = critical'
            target_matchers:
              - 'severity =~ warning|info'
            equal:
              - 'namespace'
              - 'alertname'
          - source_matchers:
              - 'severity = warning'
            target_matchers:
              - 'severity = info'
            equal:
              - 'namespace'
              - 'alertname'
          - source_matchers:
              - 'alertname = InfoInhibitor'
            target_matchers:
              - 'severity = info'
            equal:
              - 'namespace'
          - target_matchers:
              - 'alertname = InfoInhibitor'
        route:
          group_by: ['namespace']
          group_wait: 30s
          group_interval: 5m
          repeat_interval: 12h
          receiver: 'null'
          routes:
          - receiver: 'null'
            matchers:
              - alertname = "Watchdog"
        receivers:
        - name: 'null'
        templates:
        - '/etc/alertmanager/config/*.tmpl'

      ingress:
        enabled: false

      route:
        main:
          enabled: false

      service:
        enabled: true
        type: ClusterIP

    grafana:
      enabled: true
      fullnameOverride: grafana
      admin:
        existingSecret: "grafana-admin-credentials"
        userKey: admin-user
        passwordKey: admin-password
      ingress:
        enabled: false
      persistence:
        enabled: true
        type: sts
        storageClassName: "standard"
        size: 8Gi
      sidecar:
        dashboards:
          enabled: true
        datasources:
          enabled: true
          isDefaultDatasource: true
          name: Prometheus
          uid: prometheus
          url: http://prom-prometheus.monitoring.svc:9090/

    kubeApiServer:
      enabled: true

    kubelet:
      enabled: true

    kubeControllerManager:
      enabled: false

    coreDns:
      enabled: true

    kubeEtcd:
      enabled: false

    kubeScheduler:
      enabled: false

    kubeProxy:
      enabled: true

    kubeStateMetrics:
      enabled: true
    # TIP: dependency chart values
    kube-state-metrics:
      fullnameOverride: kube-state-metrics

    nodeExporter:
      enabled: true
    prometheus-node-exporter:
      fullnameOverride: node-exporter

    prometheusOperator:
      enabled: true

    prometheus:
      enabled: true

      ingress:
        enabled: false

      prometheusSpec:
        retention: 15d
        replicas: 1
        logLevel: info
        resources: {}
        storageSpec:
        volumeClaimTemplate:
          spec:
            storageClassName: standard
            resources:
              requests:
                storage: 10Gi

    thanosRuler:
      enabled: false
